# محیط مجازی Python
.venv/
env/

# فایل‌های پایگاه داده
*.db

# فایل‌های لاگ
*.log

# فایل‌های تنظیمات محیطی (مانند .env)
.env

# فایل‌های کامپایل شده Python
*.pyc
*.pyo
__pycache__/

# پوشه‌های مربوط به سیستم‌های توسعه مثل PyCharm
.idea/

# فایل‌های مربوط به سیستم‌های نسخه‌گذاری
.vscode/
*.swp
